{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.2"}
  org.clojure/clojurescript {:mvn/version "1.12.42"}
  thheller/shadow-cljs {:mvn/version "3.2.1"}
  reagent/reagent {:mvn/version "2.0.0-alpha3"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                io.github.clojure/tools.build {:mvn/version "0.10.9"}}}
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.9"}}
   :ns-default build
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}}
