{:deps true
 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :modules
   {:background
    {:init-fn cljs-chrome-github-ext.background/init}
    :content
    {:init-fn cljs-chrome-github-ext.content/init
     :depends-on #{:background}}}}}}
